{{- if .Site.Data.homepage.contact.enable }}
{{- with .Site.Data.homepage.contact }}
<section class="section contact">
	<div class="container">
		<div class="row">

      <div class="col-md-12">
        <div class="col-md-4 h-100 text-left ">
          <h3>{{ .content }} </h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 h-100 text-right ">
          <a href="mailto:{{ .email | absURL }}" class="btn button">{{ .title }}</a>
        <div class="col-md-2"></div>
        </div>
      </div>

		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}
{{- end }}
