:root {
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  --color-1: #EEEEFF;
  --color-2: #7F7CAF;
  --color-3: #9FB4C7;
  --color-4: #28587B;
  --color-5: #9FB798;

  --color-background-primary: var(--color-1);
  --color-background-secondary: var(--color-4);
  --color-background-ternary: var(--color-5);
  --footer-color: var(--color-4);
  --font-on-dark: var(--color-1);
  --font-on-light: black;
    
  background-color: var(--color-background-primary);
  color: var(--font-on-light);
}


h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-primary);
	font-weight: 300;
  text-transform: uppercase;
}

p {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 18px;
}

.section {
  padding: 5vh 25px;
}

.banner {
  background-color: var(--color-background-secondary);
  padding: 20vh 0;
  color: var(--font-on-dark);
}

.little-banner {
  background-color: var(--color-background-secondary);
  padding: 10vh 0;
  color: var(--font-on-dark);
}
.little-banner-header {
  text-transform: capitalize;
  font-size: 32px;
  text-align: justify;
}

.contact {
  background-color: var(--color-background-ternary);
  padding: 10vh 0;
  color: var(--font-on-dark);
}

.button {
  color: var(--font-on-dark);
  border-radius: 30px;
  font-size: 20px;
  padding: 15px 40px;
  display: inline-block;
  background-color: var(--color-4);
  box-shadow: 0 15px 40px var(--color-3);
  margin: 30px 0 0 0;
}

.button:hover, .button:focus {
  background-color: var(--color-4);
  color: var(--font-on-dark);
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}


/* ----------
 *
 * layout formatting
 *
 * ---- */
  
#preloader-wrapper {
  background-color: var(--primary-color);
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-loader {
  width: 130px;
  height: 130px;
  background: var(--second-color);
  border-radius: 50%;
  animation: loading 6s infinite reverse linear;
  position: relative;
}

.pre-loader:before {
  content: "\f3bd";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  font-size: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--primary-color);
}

/* navigation */
.navbar-brand {
  color: var(--font-on-light);
  font-size: 25px;
  margin: 0;
  line-height: 1;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--font-on-light);
	font-family: var(--font-primary);
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.footer-menu a {
  font-weight: 700;
  padding: 10px;
}

footer {
  text-align: center;
  background: var(--footer-color);
  padding: 50px 0px;
}

footer .footer-logo {
  color: var(--font-on-dark);
  display: block;
  font-size: 24px;
}

footer p.copyright-text {
  color: var(--font-on-dark);
  letter-spacing: 2px;
  margin-top: 5px;
  font-size: 16px;
}

footer p.copyright-text a {
  color: var(--font-on-dark);
  font-size: 16px;
}

